
<app-navigation-bar></app-navigation-bar>
<body class="bg-pastel-cyan flex flex-col min-h-screen bg-background text-foreground font-body antialiased">
    <main class="flex-1 p-4 md:p-6">
        <article *ngIf="post" class="mb-8">
            <img
                src="assets/bird-8788491_1280.jpg"
                width="800"
                height="400"
                alt="Blog Post Image"
                class="w-full h-[300px] object-cover rounded-lg"
                style="aspect-ratio: 2 / 1;"
            />
            <div class="mt-4">
                <h1 class="text-2xl font-bold mb-2">{{post.title}}</h1>
                <div class="flex items-center gap-2 text-sm text-muted-foreground">
                    <div>
                        <img src="https://www.w3schools.com/w3images/nature.jpg" alt="Author" class="w-6 h-6 rounded-full border" />
                    </div>
                    <span>{{post.author.username}}</span>
                    <span>•</span>
                    <span>{{ post.createdAt | date:'MMMM d, yyyy' }}</span>
                </div>
                <div class="prose prose-gray mt-4">
                    <p>
                        {{post.content}}
                    </p>
                </div>
            </div>
        </article>
        <app-comment-section [postId]="post.postId"></app-comment-section>
    </main>
    <app-footer></app-footer>
</body>
