@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 100% 97%;
    --foreground: 339 20% 20%;
    --primary: 308 56% 85%;
    --primary-foreground: 210 22% 22%;
    --secondary: 196 75% 88%;
    --secondary-foreground: 210 22% 22%;
    --accent: 211 86% 70%;
    --accent-foreground: 210 22% 22%;
    --destructive: 0 93% 73%;
    --destructive-foreground: 210 22% 22%;
    --muted: 210 100% 95%;
    --muted-foreground: 210 22% 22%;
    --card: 210 100% 97%;
    --card-foreground: 210 22% 22%;
    --popover: 0 0% 100%;
    --popover-foreground: 341 20% 22%;
    --border: 210 40% 80%;
    --input: 210 40% 56%;
    --ring: 210 40% 60%;
    --radius: 1rem;
  }
}
.bg-pastel-cyan { background-color: #F0F9FC; }
.bg-pastel-rose { background-color: #EEC3E8; }
.hover-rose:hover { background-color: #e698d2; }
@layer base {
  * {
    border-color: var(--border);
  }

  body {
    color: var(--foreground);
    font-family: var(--font-body);
  }


  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-heading);
  }

  
}
.comment-form {
  position: relative; /* Container for absolute positioning of emoji button */
}

.emoji-picker {
  position: absolute;
  top: 100%; /* Position below the textarea */
  right: 0;
  background: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  display: grid; /* Use grid layout */
  grid-template-columns: repeat(5, auto); /* Display 5 emojis per row */
  gap: 5px; /* Space between emojis */
  max-height: 200px; /* Set a max-height for the picker */
  overflow-y: auto; /* Enable vertical scrolling if content exceeds max-height */
  z-index: 10;
}

.emoji-picker span {
  cursor: pointer;
  font-size: 20px;
}

textarea {
  padding-left: 2.5rem; /* Ensure there's space for the emoji button */
}
