
.btn-pink {
    background-color: #EEC3E8;
}
.btn-pink:hover {
    background-color: #fcaaf1;
} 

.bg-main {
    @apply bg-[#F0F9FC];
}

.input-blue:focus {
    border-color: #428bca;
    box-shadow: 0 0 0 3px rgba(66, 139, 202, 0.4);
}