<div class="dialog-content">
    <div class="bg-white p-8 rounded-lg shadow-lg">
      <h2 class="text-2xl font-bold text-gray-800 mb-6">Add User</h2>
      <form (ngSubmit)="addUser()" #loginForm="ngForm">
        <div class="mb-4">
          <label for="username" class="block text-gray-700 font-medium mb-2">Username</label>
          <input [(ngModel)]="user.username" type="text" id="username" name="username" class="w-full p-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-500 input-blue" required>
        </div>
        <div class="mb-4">
            <label for="email" class="block text-gray-700 font-medium mb-2">Email</label>
            <input [(ngModel)]="user.email" type="email" id="email" name="email" class="w-full p-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-500 input-blue" required>
        </div>
        <div class="mb-4">
          <label for="password" class="block text-gray-700 font-medium mb-2">Password</label>
          <input [(ngModel)]="user.password" type="password" id="password" name="password" class="w-full p-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-500 input-blue" required>
        </div>
        <div class="flex justify-between items-center">
          <button type="submit" class="btn-pink text-white px-4 py-2 rounded-lg">Add User</button>
          <button type="button" (click)="onCancel()" class="text-blue-500 hover:underline">Cancel</button>
        </div>
      </form>
    </div>
  </div>
  